

html {
    height: 100%;
  }
  
  .hero {
    width: 100%;
    min-height: 100vh; /* Change this */
    background-color: #0e1d34;
    background-image: url("../img/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgba(255, 255, 255, 0.8);
    overflow: auto;
  }
  
  
      #change-password-page .container {
          background-color: transparent;
         
      }
  
      #change-password-page h3 {
          color: #fff;
          
      }
  
      #change-password-page .form-group label {
          color: #fff;
          
      }
  
      #change-password-page .form-group input[type="password"] {
        /* Additional styling for the password input fields */
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        color: #333;
    }
    
  
    #change-password-page .btn {
        
        
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }
    
    #change-password-page .btn:hover {
        background-color: #0056b3;
    }
    

  
      .container {
          max-width: 400px;
          margin: 0 auto;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
  
      h3 {
          font-size: 24px;
          font-weight: bold;
          margin-top: 0;
          color: #fff;
      }
  
      .form-group {
          margin-bottom: 20px;
      }
  
      label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          color: #fff;
      }
  
      input[type="password"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
      }
  
      .btn {
          display: inline-block;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
          color: #fff;
          background-color: #007bff;
      }
  
      .btn-secondary {
          background-color: #6c757d;
      }
  
      .btn:hover {
          background-color: #0056b3;
      }
  
      .error-message {
        background-color: #e53935;
        color: #fff;
        font-size: 16px;
        padding: 12px 20px;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      .error-message.hidden {
        display: none;
      }
      