.container {
    margin-top: 50px;
  }

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  .table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  .table th,
  .table td {
    padding: 12px;
    vertical-align: middle;
    text-align: center;
  }

  .table th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table tbody tr {
    background-color: #DDD;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5;
  }



  .h1 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }


  select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    color: #555;
    font-size: 16px;
    padding: 10px 30px 10px 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #DDD;
    /* light gray */
  }


  select::-ms-expand {
    display: none;
  }

  .li {
    color: black;
  }
  .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    display: inline-block;
    color: #BBB;
    cursor: pointer;
    transition: color 0.2s, text-shadow 0.2s;
    margin-right: 5px;
    font-size: 20px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  }
  
  .rating label:before {
    content: "\2605";
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
    display: inline-block;
    vertical-align: middle; /* Added to center the stars vertically */
  }
  
  .rating label:hover:before,
  .rating label:hover~label:before,
  .rating input[type="radio"]:checked~label:before {
    content: "\2605";
    color: #ffca08;
    text-shadow: none;
  }
  