.container {
    margin-top: 50px;
  }

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  .table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  .table th,
  .table td {
    padding: 12px;
    vertical-align: middle;
    text-align: center;
  }

  .table th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table tbody tr {
    background-color: #DDD;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .navbar {
    position: relative;
    z-index: 9999;
    background-color: #0e1d34;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
  }

  .navbar ul {

    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
  }

  .navbar ul li {
    margin-left: 20px;
  }

  .navbar ul li:first-child {
    margin-left: 0;
  }

  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }

  .navbar ul li a:hover {
    color: #1c8adb;
  }

  .navbar .get-a-quote,
  .navbar .get-a-quote:focus {
    background: #0d42ff;
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }

  .navbar .get-a-quote:hover,
  .navbar .get-a-quote:focus:hover {
    color: #fff;
    background: rgba(13, 66, 255, 0.8);
  }

  .h1 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }


  select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    color: #555;
    font-size: 16px;
    padding: 10px 30px 10px 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #DDD;
    /* light gray */
  }


  select::-ms-expand {
    display: none;
  }

  .li {
    color: black;
  }

  .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .rating input[type="radio"] {
    display: none;
  }

  .rating label {
    display: inline-block;
    color: #BBB;
    cursor: pointer;
    transition: color 0.2s, text-shadow 0.2s;
    margin-right: 5px;
    font-size: 20px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  }

  .rating label:hover,
  .rating label:hover~label,
  .rating input[type="radio"]:checked~label {
    color: #333;
    text-shadow: none;
  }

  .rating label:before {
    content: "\2605";
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  }

  .rating label:hover:before,
  .rating label:hover~label:before,
  .rating input[type="radio"]:checked~label:before {
    content: "\2605";
    color: #ffca08;
    text-shadow: none;
  }